body{
margin: 0px;
padding: 0px;
font-family: "Sans-serif";
text-align: center;
}


* {
  box-sizing: border-box;
}

div{
    border:solid 0px black;
    background-color:#ffffff;
    margin: 10px;
    padding: 10px;
}


@media screen and (min-width: 1000px) {
  #container{
    position: fixed;
    top: 0px;
    left: 330px;
    border: 0px;
    text-align: left;
    padding: 10px;
    height: 100%;
    overflow: scroll;
  }

  #nag{
    text-align: right;
    float:left;
    width:330px;
    position: fixed;
    height: 100%;
    border-right: solid 1px #c0c0c0;
    margin: 0;
  }
}
@media screen and (max-width: 999px){
  #container{
    text-align: left;
  }
  #nag{
    text-align: right;
  }
  #footer{
    display: none;
  }
}

#title
{
  font-size:30px;
  color: #2c2c2c;
  border-bottom: solid 1px black;
  border-radius: 0px;
}

#footer{
  position: fixed;
  bottom: 0;
  font-size:15px;
  margin-bottom: 20px;
  margin-left: 75px;
  text-align: right;
}

a{
  text-decoration: none;
}

#header{
  border: 0px;
  font-size: 25px;
  padding: 15px;
}

#header p{
  padding: 20px 10px;
  margin: 5px;
  text-align: center
}

#blogs{
  border: 0px;
}

#tags .tag{
  border: 0px;
}
.blog{
  margin: 20px 10px;
  border: solid 1px #c0c0c0;
}
#blogs .blog{

}

span[class~="left"]{
  float: left;
  padding-bottom: 20px;
}

span[class~="right"]{
  float: right;
  padding-bottom: 20px;
}

.blog .sourceCode{
  background-color: #eee;
  border: solid 1px #c0c0c0;
}

.circle{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

code{
  background-color: #ccc;
}


.floatleft{
  float: left;
}

.floatright{
  float: right;
}

.center{
  margin: 0 auto;
  display: inline-block;
}
