body{
margin: 0px;
padding: 0px;
font-family: "Sans-serif";
text-align: center;
}

div{
    border:solid 1px black;
    box-shadow: 0px 0px 20px #eeeeee;
    background-color:#ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}


#container{
  margin: 0 0 0 33%;
  border: 0px;
  text-align: left;
  padding: 10px;
}

#nag{
  text-align: right;
  float:left;
  width:30%;
  position: fixed;
  height: 100%;
  border: 0px;
}

#title
{
  font-size:30px;
  color: #2c2c2c;
}

#footer{
  position: absolute:
  bottom: 0px;
  left:0px;
}

a{
  text-decoration: none;
}

#header{
  height: 30px;
  border: 0px;
  font-size: 20px;
}
